* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grey{
  color: grey;
}

.yellow{
  color: yellow;
}

.display_none{
  display: none;
}

body{
  background-color: #ccdaff ;
}

/* Header */
.header{
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: black;
}

.header::after{
  content: "";
  clear: both;
  display: table;
}

.logo{
  float: left;
  color: blue;
}

.logo h2{
  font-size: 30px;
}

.searchbar{
  float: right;
}

.logo,
.searchbar{
  line-height: 80px;
}

/* Main */
.container{
  position: relative;
  /* width: 100%; */
  /* height: 10vh; */
  margin-top: 80px;
}

.container h1{
  text-align: center;
  font-size: 50px;
}

/* .film_list::after{
  content: "";
  clear: both;
  display: table;
} */

/* .film_list .film_poster img {
  width: 100%;
} */

.box-tv,
.box-film {
  /* position: relative; */
  /* width: calc(100% / 3); */
  /* float: left; */
}

.box-tv:hover,
.box-film:hover{
  /* overflow: hidden; */
}

/* Image-box */
.tv_poster,
.film_poster{
  /* top: 0; */
  width: 100%;
  height: 100%;
  text-align: center;
}

.tv_poster:hover,
.film_poster:hover{

}

/* Text-box */
.tv,
.film{
   position: absolute;
   top: 0;
   left: 0;
   /* display: block; */
   width: 100%;
   height: 100%;
   font-size: 18px;
   background-color: lightgrey;
   z-index: 3;
   opacity: 0;
}

.tv ul,
.film ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  list-style: none;
  text-align: left;
  line-height: 18px;
  padding: 10px;
  /* overflow-y: scroll; */
}

.tv:hover,
.film:hover {
  opacity: 1;
}

.box-tv,
.box-film {
  position: relative;
  /* width: calc(100% / 3);
  float: left; */
  height: 500px;
  width: 342px;
  overflow: hidden;
  margin: 15px;
}

.film_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;

}
